* {
	margin:		0px;
	padding:	0px;
}
.image {
	display:	inline-block;
	width:		90%;
}
#container {
	margin: 0px auto;
	background-image:	linear-gradient(#56FF00,#0010FF,#6A7E25,#FF00EF,#806E28);
	display:		grid;
	grid-template-columns: repeat(4,1fr);

}
.invisible {
	visibility:	hidden;
}
.reset {
	background-color:	green;
}
